.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {

}

.grid {
    height: 768px;
    width: 768px;
    display: grid;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.gridGen16 {
    border-style: solid;
    border-width: thin;
}

.gridGen32 {
    border-style: solid;
    border-width: thin;
}

.gridGen64 {
    border-style: solid;
    border-width: thin;
}

#gridHover:hover {
    background-color: black;
}