.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {

}

.grid {
    height: 544px;
    width: 544px;
    display: flex;
    flex-wrap: wrap;
}

.gridGen {
    height: 2rem;
    width: 2rem;
    border-style: solid;
    border-width: thin;
}

#gridHover:hover {
    background-color: black;
}